@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

:root {
  --light-green: #417d7a;
  --green: #1d5c63;
  --dark-green: #1a3c40;
  --beige: #ede6db;
  --white: #fff;
  --red: #8f282b;
  --red1: #9f3d40;
  --lred: #4f1315;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 10px;
  background-color: #fff;
  color: var(--red);
}

.pic{
  width: 330px;
  height: 420px;
  border-radius: 200px;
}

.subtitle {
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 500;
}

.title {
  margin-bottom: 4rem;
  font-size: 80px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  background-size: cover;
}

.btn {
  padding: 0.5rem 1.5rem;
  background-color: inherit;
  border: 2px solid var(--red);
  border-radius: 3px;
  font-size: 1.1rem;
}

.widget_social a i{
    background-color: var(--red1);
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    
}
.widget_social a:hover i{
    background-color: #fff;
    color:#8f282b;
}

/* NAVBAR */

#navbar {
  background-color: var(--beige);
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-logo {
  width: 50%;
  margin-left: 2rem;
}

.nav-logo h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#navbar ul {
  width: 500px;
  max-width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

#navbar ul li {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 600;
}


/* about */

#about {
  width: 100%;
  background-color: var(--red1);
  text-align: center;
  padding: 3rem 0;
}

#about h2 {
  color: var(--beige);
  font-size: 30px;
  margin-bottom: 20px;
}

.pic2{
  width: 260px;
  height: 320px;
  border-radius: 20px;
  border: 10px solid #fff;
  float:left;
}

.aboutme {
  flex: 1;
  display: flex;
  margin-left: 50px;
  overflow: hidden;
  margin-right: 50px;
}

.info{
  text-align: left;
  float:left;
  color: #fff;
  margin-left: 30px;
  width: 50%;
  text-align: justify;
  font-size: 15px;
}

.skills{
  text-align: left;
  float:left;
  color: #fff;
  margin-left: 30px;
  width: 50%;
  text-align: justify;
  font-size: 15px;
}

/* HERO */

#welcome-section {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: var(--beige);
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.hero-left h1 {
  font-size: 5rem;
  margin-left: 2rem;
}

.hero-left p {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.hero-left button {
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.hero-left button:hover {
  background-color: var(--red);
  color: var(--beige);
}

.hero-right {
  width: 36%;
  position: relative;
  overflow: hidden;
}

.square1 {
  width: 500px;
  height: 700px;
  background-color: var(--red1);
  position: absolute;
  bottom: 20px;
  right: -230px;
  transform: rotate(-30deg);
  z-index: 1;
}

.square2 {
  width: 500px;
  height: 700px;
  background-color: var(--lred);
  position: absolute;
  bottom: -20px;
  right: -200px;
  transform: rotate(-30deg);
}

/* PROJECTS */

#projects {
  width: 100%;
  background-color: var(--red);
  color: var(--beige);
  padding: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title1 {
  margin-bottom: 4rem;
  font-size: 3rem;
  color:fff;
}

#projects h2 {
  color: var(--beige);
}

.grid-container {
  margin: 0 1.5rem;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.project-tile {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  color: var(--beige);
}

.project-tile:hover {
  transform: translateY(-5px);
  background-color: var(--red1);
  color: var(--beige);
  font-weight: 600;
}

.project-tile p {
  padding: 1rem 0;
  transition: 0.3s;
  font-size: 1.3rem;
}

/* INTEREST */
#interest {
  width: 100%;
  background-color: var(--lred);
  color: var(--beige);
  padding: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#interest h2 {
  color: var(--beige);
  font-size: 30px;
  margin-bottom: 20px;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 350px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

/* FOOTER */

footer {
  color: var(--beige);
  background-color: var(--red);
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1066px) {
  .hero-left h1 {
    margin: 0;
    text-align: center;
  }

  .square1,
  .square2 {
    width: 300px;
    height: 500px;
  }

  #projects {
    padding: 1.5rem;
  }

  #about {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 810px) {
  .hero-left p {
    font-size: 1.6rem;
    text-align: center;
  }
}

@media screen and (max-width: 715px) {
  #navbar ul li {
    font-size: 1rem;
  }

  .hero-left {
    flex-basis: 70%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 645px) {
  .nav-logo {
    display: none;
  }

  #navbar ul {
    margin: 0;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
  }

  .hero-right {
    display: none;
  }

  footer p {
    margin: 1rem;
  }
}

@media screen and (max-width: 400px) {
  #navbar {
    display: block;
    height: 130px;
  }

  #navbar ul {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
}
